.card-container {
	width: 200px;
	height: 350px;
	box-shadow: 0px 0px 4px 0px rgb(183 183 183 / 88%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.card-container:hover {
	transform: translateY(-5%);
}

.image-container {
	grid-area: 1 / 1 / 5 / 3;
	border-bottom: 1px solid lightgray;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.name-price-container {
	grid-area: 5 / 1 / 6 / 3;
	display: flex;
}

.color {
	grid-area: 6 / 1 / 7 / 3;
}

.rating {
	grid-area: 7 / 1 / 8 / 3;
}
