.palette-container {
	width: 100%;
	height: 28px;
	padding: 0 0.5rem 0 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.color-item {
	width: 20px;
	height: 20px;
	margin: 1px;
	border-radius: 50%;
}
.more-colors-item {
	padding: 4px;
	text-align: start;
	font-size: x-small;
	font-family: var(--asset-title-font-family);
	color: var(--primary-color);
}
