.filters-container {
	padding: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.filters-container input {
	border: 1px solid var(--primary-color);
	box-shadow: 0px 0px 4px 0px rgb(183 183 183 / 88%);
	outline: none;
	width: 5rem;
	height: 2rem;
}

.filters-container input:focus {
	border: 2px solid var(--primary-color);
}

.price-limits-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0.5rem;
}

.filters-container button {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	width: 6rem;
	height: 2rem;
}

.filters-container button.button-inverse {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	width: 6rem;
	height: 2rem;
}

.filters-container button:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
