.filters-container {
	padding: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.filters-container input {
	border: 1px solid var(--secondary-color);
	outline: none;
	width: 5rem;
	height: 2rem;
}

.filters-container input:focus {
	border: 1px solid var(--primary-color);
}

.price-limits-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
}
.buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
}

.filters-container button {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	width: 6rem;
	height: 2rem;
	border: 1px solid var(--secondary-color);
}

.filters-container button.button-inverse {
	background-color: var(--accent-color);
	color: var(--tertiary-color);
	width: 6rem;
	height: 2rem;
}

.filters-container button:hover {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}
