:root {
	--asset-title-font-family: 'nunito sans';
	--primary-color: #000000;
	--secondary-color: #c4c4c4;
	--tertiary-color: #ffffff;
	--accent-color: rgb(179, 116, 156);
}
body {
	margin: 0;
}
* {
	box-sizing: border-box;
}
